---
import type Tag from "../../../types/Tag";
import themeConfig from "@util/themeConfig";
const config = themeConfig.directoryData.tags;
const emoji = themeConfig.layout.emoji;

const { tag } = Astro.props;

const configTag = config?.find((element: any) => element.key === tag);

const tagClass = configTag?.color ? `${configTag.color}-tag` : "gray-tag";
---

<span class:list={["tag", tagClass]}>
  {emoji && configTag?.emoji && <span class="mr-1">{configTag.emoji}</span>}
  {configTag?.name || tag}
</span>
